.section--footer {
  background-color: #2f303a;
  padding: 0;
}

.footer-communication {
  display: flex;
  justify-content: space-between;
}
.footer-contacts {
  padding-top: 60px;
  padding-bottom: 60px;
}

.adress-list__item {
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $secondary-text-color;

  &:not(:first-child) {
    opacity: 0.6;
  }

  &:not(:last-child) {
    margin-bottom: 9px;
  }
}

.join {
  padding-top: 72px;
  padding-bottom: 100px;
}

.footer-title {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $secondary-text-color;
}

.footer-form {
  display: flex;

  &__input {
    width: 358px;
    height: 50px;
    padding: 15px 16px;
    margin-right: 12px;
    color: $secondary-text-color;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    transition: border-color $anim;

    &:hover,
    &:focus {
      outline: none;
      border-color: $a—Åcent-text-color;
    }

    &::placeholder {
      font-size: 16px;
      line-height: 1.25;
      letter-spacing: 0.03em;
      color: rgba(255, 255, 255, 0.6);
    }
  }
}
